Repository saidaHF/InitiationToPython: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run_exercises, pages

.gitlab-ci.yml:

run_exercises:
  image: python:3.7-buster
  stage: test
  before_script:
    - python -m pip install numpy matplotlib scipy
  script:
    # run exercises that have changed
    - cd exercises
    - git remote add official https://gitlab.com/alba-synchrotron/controls-section/pythoncourse-intro.git
    - git remote update
    - CHANGED=`git diff --name-only --relative remotes/official/master -- ./*.py`
    - for f in $CHANGED; do cat $f; python $f|tee $f.out; done
  artifacts:
    expose_as: 'output'
    untracked: true
    paths: ['exercises/']
  only:
    refs:
      - merge_requests
    changes:
      - exercises/*.py


pages:
  image: alpine:latest
  stage: deploy
  script:
  - cp -a slides public
  artifacts:
    paths:
    - public
  only:
    refs:
      - master
    changes:
      - slides/*

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Try to expose untracked files only as artifacts
  .gitlab-ci.yml
Due: none

Update slides
  slides/slides.md
Due: pages

Add flake8 check
  .gitlab-ci.yml
Due: none

flake8: allow failure and show source
  .gitlab-ci.yml
Due: none

Update README.md
  exercises/README.md
Due: none

Fix flake8 issues
  exercises/algebra1.py
  exercises/cheat/algebra1.py
  exercises/cheat/converter2.py
  exercises/cheat/converter3.py
  exercises/converter3.py
Due: run_exercises

run black -l79 -tpy35 on the solved exercises
  exercises/cheat/converter2.py
Due: none

Update converter1 docstring
  exercises/cheat/converter1.py
  exercises/converter1.py
Due: run_exercises

Add string formatting slide
  slides/slides.md
Due: pages

Update lessons plan
  lessons_plan_202004.md
Due: none

Update url in converter1 docstring
  exercises/cheat/converter1.py
  exercises/converter1.py
Due: run_exercises

Fix typos in converter3.py solved exercise
  exercises/cheat/converter3.py
Due: none

Add unitest for correcting exercises
  exercises/test/__init__.py
  exercises/test/test_exercises.py
Due: none

Use pytest in CI for testing exercises
  .gitlab-ci.yml
Due: none

Check returncode from exercise_run
  exercises/test/test_exercises.py
Due: none

Check returncode from exercise_run
  .gitlab-ci.yml
Due: none

Update matplot1 and fitting1 exercises Request to save figs, and test them
  exercises/cheat/fitting1.py
  exercises/cheat/matplot1.py
  exercises/fitting1.py
  exercises/matplot1.py
  exercises/test/test_exercises.py
Due: run_exercises

Improve converter test
  exercises/test/test_exercises.py
Due: none

Add __pycache__ to .gitignore
  .gitignore
Due: none

Fix indentation in snippet
  slides/slides.md
Due: pages

Update exercise3 requirements
  exercises/cheat/converter3.py
  exercises/converter3.py
Due: run_exercises

Improve exercise3 solution
  exercises/cheat/converter3.py
Due: none

Add exhaustive unit tests for converter3.py exercise
  exercises/test/test_exercises.py
  exercises/test/tsp0.dat
  exercises/test/tsp1.dat
  exercises/test/tsp2.dat
  exercises/test/tsp3
Due: none

Update ex converter4
  exercises/cheat/converter4.py
  exercises/converter4.py
Due: run_exercises

Update numpy link
  slides/slides.md
Due: pages

Fix matplot1 test
  exercises/test/test_exercises.py
Due: none

Add docker-compose.yml file
  docker-compose.yml
Due: none

Add instructions to setup a tango system using docker
  pre-course.md
Due: none

Update docker instructions
  pre-course.md
Due: none

Update lessons plan
  slides/taurus_community.png
  slides/taurus_structure.png
Due: pages

Update fitting1 exercise to use new rng
  exercises/cheat/fitting1.py
  exercises/fitting1.py
Due: run_exercises

Add taurus and sardana image slides
  slides/sardana_sketch.png
  slides/slides.md
Due: pages

Resize slide images to fit in 800px width
  slides/sardana_sketch.png
  slides/taurus_community.png
  slides/taurus_structure.png
Due: pages

Resize slide images to fit in 700px width
  slides/sardana_sketch.png
  slides/slides.md
  slides/taurus_community.png
  slides/taurus_structure.png
Due: pages
