Repository saidaHF/InitiationToPython: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run_exercises, flake8, pages

run_exercises:
  stage: test
  before_script:
  - python -m pip install numpy matplotlib scipy pytest
  script:
  - pytest exercises
  artifacts:
    expose_as: output
    untracked: true
    when: always
    paths:
    - exercises/

flake8:
  stage: test
  before_script:
  - python -m pip install flake8
  script:
  - flake8 --show-source exercises/*.py
  allow_failure: true

pages:
  image: alpine:latest
  stage: deploy
  script:
  - cp -a slides public
  artifacts:
    paths:
    - public

Add taurus-sardana relations diagram
  slides/slides.md
  slides/taurus_sardana_relations.png
Due: pages

Update slides
  slides/slides.md
Due: pages

Update README.md
  README.md
Due: none

Test
  __init__.py
  exercises/__init__.py
  exercises/cheat/__init__.py
Due: run_exercises, flake8

Test
  exercises/__init__.py
Due: run_exercises, flake8

test push
  exercises/__init__.py
Due: run_exercises, flake8

test terminal
  exercises/__init__.py
Due: run_exercises, flake8

practice
  exercises/__init__.py
  file_one.py
Due: run_exercises, flake8

practice_pyQT
  exercises/__init__.py
  exercises/test/pyQT_test.py
Due: run_exercises, flake8

practice_pyQT
  exercises/__init__.py
  exercises/cheat/converted1.dat
  exercises/cheat/converter1.py
Due: run_exercises, flake8

Path conditions:
  run_exercises: any of: exercises/*.py
  flake8: any of: exercises/*.py
  pages: any of: slides/*
